@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

.generate-container {
  background-image: url("../assests/images/GenerateImage.PNG");
  background-size: cover;
  background-position: center;
  height: 100vh; /* or another value based on your needs */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(62, 21, 21); /* Change text color to make it readable */
  font-family: 'Lexend Deca', sans-serif;
}

.generate-header{
  position: absolute;
  top: 15%;
  left: 15%;
  padding-left: 20px
}

h1{
margin-bottom: 10px 
}
p{
  margin: 0 
  }

.form-container {
  width: 100%; /* Make the form container full width */
  max-width: 600px; /* Optionally, set a max-width for the form */
}