.Home {
    text-align: center;
    background-image: url("../assests/images/HomeImage.png");
    background-color: #78CAE6;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Home-logo {
    height: 90vmin;
    pointer-events: none;
  }
  
  
  .Home-header {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Home-link {
    color: #61dafb;
  }

  .play-button {
    position: absolute;
    bottom: 50px;  }

  
  
  